
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Hero Section */
.hero {
    background: #3e0081;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

/* Content Section */
.content, .product{
    max-width: 100%;
    
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-evenly;
}
.text-box h2{
    color: #3e0081;
    margin: 0;
}
.text-box #text-box-middle{
    color: #14fbcd;
    font-size: 1.3rem;
    padding-top: 6px;
    
}
.text-box #text-box-last{
   
    font-size: 0.8rem;
 
}

.diagram-box img {
    height: 300px;
    width: 500px;
    display: block;
    margin: 0;
    padding: 0;
}

.diagram-box .diagram-text{
    margin: 0;
    padding: 0;
    font-size: 1.6ch;
}

/* Details section */
.details{
    margin-top: 0;
    height: 120px;
    background-color: #cbfef5;
}

.details p, a {
    margin: 0;
    padding: 25px;
}
#p, #a{
    margin-left: 4.3rem;
}

.details p {
    color: black;
}
.details a{
    text-decoration: none;
    color:#0389cb;
    
}
/* Product Section */
.product .container {
    display: flex;
    align-items: center;
    
}

.product img {
    width: 150px;
}

/* Treatment and Safety Sections */
.treatment-response{
    height: 120px;
    background-color: #0389cb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treatment-response-text{
    margin-left: 5.9rem;
}
.treatment-response-sign{
    margin-right: 6rem;
}
#treatment-response-h2, #treatment-response-text{
    color: white;
    padding: 0;
    margin: 0;
}
#treatment-response-text{
    margin-top: -20px;
    
}

/* Safety Sections */
 .safety-info-start, .safety-info-first-section, .safety-info-second-section, .safety-info-third-section{
    margin-left: 5.9rem;
    margin-right: 6rem;
    margin-top: 2rem;
 }
 .safety-info-start p {
    line-height: 0.2;
 }
#safety-info-first-section-p{
    margin-top: -22px;
}


/* Footer */
footer {
    background: #5d0f77;
    color: white;
    
    padding: 20px;
}

.footer-content p{
    margin-left: 5rem;
    
}
.footer-content .footer-content-bottom p{
    line-height: 0.2;
}
